<% require 'csv' #%>
<div class="row">
 <div class="col-md-12">
   <h1>Results:</h1>
   <% if File.file?("results.csv")
      mtime = File.mtime("results.csv") - (60*60*4) %>
   <%= "File Last Modified: #{mtime} <br>" %>
   <% end %>
   <br>
 </div>
 <div class="row">
  <div class="col-md-6 well">
    <ul class="list-unstyled" id="drop_down_list">
      <% if File.file?("results.csv")
        data = CSV.read("results.csv")
        ln = 1
        loop do 
          if ln >= data.length
            break
          end%>
          <li>
            <h4 class="panel-title">
              <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=<%= "\#Class#{ln}" %>>
                <%= "#{data[ln][2]}" %> <i class="fa fa-angle-double-down"></i>
              </button>
            </h4>
            <div id=<%= "\"Class#{ln}\"" %> class="panel-collapse collapse">
              <div class="panel-body">
                <%= "<h4>#{data[ln][1]}: #{data[ln][4]}</h4>" %>
                <%= "Make and Model: #{data[ln][5]}<br>" %>
                <%= "Phone: #{data[ln][6]}" %>
                <%= "<h4>#{data[ln+1][1]}: #{data[ln+1][4]}</h4>" %>
                <%= "Make and Model: #{data[ln+1][5]}<br>" %>
                <%= "Phone: #{data[ln+1][6]}" %>
              </div>
            </div>
          </li>
          <% ln = ln + 2 %>
        <% end %>
      <% else %>
        <li><h4>results.csv does not exist</h4></li>
      <% end %>
    </ul>
  </div>
</div>


